<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    {% block head %}
    <title>{% block title %}{% endblock %} - AzadAdarsh</title>
    {% endblock %}
</head>

<body>
    <!-- Include the navbar -->
    {% include 'navbar.html' %}
    
    <!-- Content block -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js') }}"></script>
</body>

</html>